image: Visual Studio 2017
clone_folder: C:\Development\NuGetDummyLogger
artifacts:
  - path: '**\*.nupkg'
after_build:
- ps: Write-Host (Invoke-Webrequest -URI "https://api.ipify.org/?format=json").Content
- ps: Write-Host (Invoke-Webrequest -URI "https://fqa.test.signpath.io/API/healthz").Content
deploy:
- provider: Webhook
  url: https://fqa.test.signpath.io/API/v1/d207dfbf-9fb5-4568-8f4b-3ef9ec264f45/Integrations/AppVeyor?SigningPolicyId=8bf47f58-f59f-416e-8e2f-9a2baf7a105c
  on_build_success: true
  on_build_failure: false
  on_build_status_changed: false
  method: POST
  authorization:
     secure: RxXVrazmSxTWSfWroEt2YB+4h5YBUUq7KZnohW67TtL6QbyQvfIyui7wuN+fqpkAXSB2FiFgFc3Z+l6LSLAhPw==
