image: Visual Studio 2017
clone_folder: C:\Development\NuGetDummyLogger
artifacts:
  - path: '**\*.nupkg'
notifications:
- provider: Webhook
  url: https://app.signpath.io/API/v1/a4ad2672-2c6c-4150-ac58-bb6a2458ecd5/Integrations/AppVeyor
  on_build_success: true
  on_build_failure: false
  on_build_status_changed: false
  method: POST
  headers:
    Authorization:
     secure: +PaB+N7qRFmcKl9cvKG6DC3Yib+A1QdiBb0rcumYd8QImWqz6fpcAE/o/Yt62+CGHjxEL9+3TZxGH5YpRHqKyw==
  body: >-
    {
        "AccountName": "PaulSavoie",
        "ProjectSlug": "{{projectName}}",
        "BuildVersion": "{{buildVersion}}",
        "SigningPolicyId": "78068278-ee00-451a-9413-b52e1ba3f4f3"
    }
environment:
    AUTH:
        secure: +PaB+N7qRFmcKl9cvKG6DC3Yib+A1QdiBb0rcumYd8QImWqz6fpcAE/o/Yt62+CGHjxEL9+3TZxGH5YpRHqKyw==
on_finish:
    - ps: Invoke-WebRequest -Body @{"AccountName"="PaulSavoie";"ProjectSlug"=$Env:APPVEYOR_PROJECT_SLUG;"BuildVersion"=$Env:APPVEYOR_BUILD_VERSION;"SigningPolicyId"="78068278-ee00-451a-9413-b52e1ba3f4f3"} -Headers @{"Authorization"=$Env:AUTH;"Content-Type"="application/json"} -Method 'POST' -Uri "https://app.signpath.io/API/v1/a4ad2672-2c6c-4150-ac58-bb6a2458ecd5/Integrations/AppVeyor"