image: Visual Studio 2017
clone_folder: C:\Development\NuGetDummyLogger
artifacts:
  - path: '**\*.nupkg'
after_build:
- ps: Write-Host (Invoke-Webrequest -URI "https://api.ipify.org/?format=json").Content
- ps: Write-Host (Invoke-Webrequest -URI "https://fqa.test.signpath.io/API/healthz").Content
deploy:
- provider: Webhook
  #url: https://fqa.test.signpath.io/API/v1/6c1f5fa2-0824-4b5e-b3d9-66f51f58467b/Integrations/AppVeyor?SigningPolicyId=23dff214-e32b-462f-9c5c-b3592ee7260e
  url: https://webhook.site/a21844d0-e104-4ffa-a989-0bf85a0c94b2?SigningPolicyId=23dff214-e32b-462f-9c5c-b3592ee7260e
  on_build_success: true
  on_build_failure: false
  on_build_status_changed: false
  method: POST
  authorization:
     secure: zV9VG+QqTjRnraHcJI9dK2nukvKlOWhrafKcwZoVt33LUBsAmsvWn/N4ZWWa+a3KIbo5O38568hcmbclm6guXg==