image: Visual Studio 2017
clone_folder: C:\Development\NuGetDummyLogger
artifacts:
  - path: '**\*.nupkg'
notifications:
- provider: Webhook
  url: https://fqa.signpath.io/API/v1/6c1f5fa2-0824-4b5e-b3d9-66f51f58467b/Integrations/AppVeyor
  on_build_success: true
  on_build_failure: false
  on_build_status_changed: false
  method: POST
  headers:
    Authorization:
     secure: +PaB+N7qRFmcKl9cvKG6DC3Yib+A1QdiBb0rcumYd8QImWqz6fpcAE/o/Yt62+CGHjxEL9+3TZxGH5YpRHqKyw==
  body: >-
    {
        "AccountName": "PaulSavoie",
        "ProjectSlug": "{{projectName}}",
        "BuildVersion": "{{buildVersion}}",
        "SigningPolicyId": "ccd27ec1-efd2-46c8-882a-837fa27a9c63"
    }
environment:
    AUTH:
        secure: +PaB+N7qRFmcKl9cvKG6DC3Yib+A1QdiBb0rcumYd8QImWqz6fpcAE/o/Yt62+CGHjxEL9+3TZxGH5YpRHqKyw==
on_finish:
    - ps: Invoke-WebRequest -Body @{"AccountName"="PaulSavoie";"ProjectSlug"=$Env:APPVEYOR_PROJECT_SLUG;"BuildVersion"=$Env:APPVEYOR_BUILD_VERSION;"SigningPolicyId"="536dfe53-a529-4f88-9619-f4ff127fec3c"} -Headers @{"Authorization"=$Env:AUTH;"Content-Type"="application/json"} -Method 'POST' -Uri "https://fqa.signpath.io/API/v1/277acb05-f400-4edd-83e1-9725e994ef5e/Integrations/AppVeyor"