image: Visual Studio 2017
clone_folder: C:\Development\NuGetDummyLogger
artifacts:
  - path: '**\*.nupkg'
after_build:
- ps: Write-Host (Invoke-Webrequest -URI "https://api.ipify.org/?format=json").Content
- ps: Write-Host (Invoke-Webrequest -URI "https://fqa.test.signpath.io/API/healthz").Content
deploy:
- provider: Webhook
  url: http://requestbin.fullcontact.com/16o2kjb1
  on_build_success: true
  on_build_failure: false
  on_build_status_changed: false
  method: POST
  authorization:
     secure: RxXVrazmSxTWSfWroEt2YB+4i5YBUUq7KZnohW67TtL6QbyQvfIyui7wuN+fqpk7XSB2FiFgFc3Z+l6LSLAhPw==
